[Unit]
Description=wfo-slackbot
After=network.target

[Service]
ExecStart=/home/ubuntu/wfo-slackbot/app.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment="SLACK_APP_TOKEN="
Environment="SLACK_BOT_TOKEN="
Environment="SLACK_SIGNING_SECRET="
WorkingDirectory=/home/ubuntu/wfo-slackbot

[Install]
WantedBy=multi-user.target
